html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0rem;
  margin: 0rem;
  box-sizing: inherit;
}

.transactionHistory {
  width: 30%;
  border: 1px solid gainsboro;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid gainsboro;
  text-align: center;
  line-height: 25px;
}

th {
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(36, 33, 204);
}

td {
  font-weight: normal;
  color: grey;
  line-height: 30px;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: gainsboro;
}
